################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/Nebula_Web_API/Nebula_Web_API.csproj
