.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    /* padding: 18px 15px; */
}
.sidebar img{
    width: 20px;
}

.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .new-chat{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}

.sidebar .new-chat p{
    margin-bottom: 0px;

}

.sidebar .recent{
    display: flex;
    flex-direction: column;
    /* Add animation  fadeIn declare in index.css*/
    animation: fadeIn 1.5s;
    width: 275px;
    padding: 18px 15px;

}

.sidebar .recent-title{
    /* margin-top: 30px; */
    margin-bottom: 10px;
    font-weight: 600;
}

.parent-recent-entry{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.parent-recent-entry p{
    margin-bottom: 0;
}

.parent-recent-entry .del-icon{
    padding: 10px;
    border-radius: 100%;
    color:#282828; 
    cursor: pointer;

}
/* ------------------- */

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color:#282828; 
    cursor: pointer;

}

.sidebar .bottom-item{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color:#282828; 
    cursor: pointer;

}

/*  For Hower effect */

.sidebar .recent-entry:hover{
    background-color: #e2e6eb;
}

.parent-recent-entry .del-icon:hover{
    background-color: #e2e6eb;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width:600px) {
    .sidebar{
        display: none;
    }
}

/* For adding Scroll bar to Recent tab */
.recent-entries-list{
    height: 100%;
    overflow-y: scroll;
}
.recent-entries-list::-webkit-scrollbar{
    display: none;
}